<tr>
  <td><%= city.name %></td>
  <td><%= city.user_pins.count %></td>
  <td><%= city.neighborhood %></td>
  <% if city.neighborhood.blank? %>
    <td />
  <% else %>
    <% href = "http://maps.google.com/maps?z=10&t=m&q=loc:#{city.latitude}+#{city.longitude}" %>
    <td><a href= <%=href %> target="_blank">View</a></td>
  <% end %>
</tr>
