<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<% end %>

<div id="map-container"></div>
<div id="tools-container">
  <div class="info-container">
    <div class="info" id="title">Where is Williamsburg?</div>
    <div class="info" id="description">An app that helps you find the "Williamsburg" of your city. <a href="https://itunes.apple.com/us/app/where-is-williamsburg/id989835126?mt=8" target="_blank">Get it on the app store.</a></div>
  </div>
  <br />
  <div class="info-container search-container">Search for a city: <input type="text" id="search" autocomplete="off" placeholder="Type city name"></div>
</div>
<div id="author">
  project by <a href="http://www.kateray.net" target="_blank">kate ray</a> /
  map © <a href="https://www.mapbox.com/map-feedback/" target="_blank">Mapbox</a>, © <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
</div>

<script>
  $(document).ready(function(){
    initMap(<%= raw @nyc_data %>)
  })
</script>
