<style>
#iframe-container {
	position: absolute;
	z-index: 5;
}
#overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #001C59;
}
#title {
	position: absolute;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 70px;
	font-weight: bold;
	color: #fff;
	top: 20%;
	left: 20%;
	width: 300px;
	z-index: 15;
}
#iphone-outline {
	position: absolute;
	top: 10%;
	right: 20%;
	z-index: 15;
}
</style>
<div id="title">Where Is Williamsburg?</div>
<div id="overlay"></div>
<img id ="iphone-outline" src="/assets/iphone_6.png" />
