<h3><%="Total Pins: #{UserPin.has_geocoded.count}"%></h3>
<h3><%="Pins with no neighborhoods: #{UserPin.missing_neighborhood.count}"%></h3>
<h3><%="Pins with no cities: #{UserPin.missing_city.count}"%></h3>
<table>
  <tr>
    <th>city state</th>
    <th>city name</th>
    <th>pins</th>
    <th>mode</th>
    <th>center</th>
  </tr>
  <%= render @cities %>
</table>

<style>
  table {
    width: 80%;
    margin: center;
  }
  tr:nth-child(even) {
    background-color: #EDEDED;
  }
</style>
